VITE_SUPABASE_URL=https://nukkgepyllfdwxmgygzw.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nwkqKow2ekpajO6YeC9yAA_vdHyWAz_
VITE_BLOG_ADMIN_EMAIL=mohannadshaaban2322005@gmail.com
VITE_NOTIFY_NEW_POST_FUNCTION_URL=
