@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Ubuntu", sans-serif;
  --second-font: "Inconsolata", monospace;
}
body {
  font-family: "Ubuntu", sans-serif;
}
